---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import Icon from "../components/Icon.astro";
---

<BaseLayout
  title="About | Sergio Betancur Chaves"
  description="About Sergio Betancur Chaves Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          class="at-work"
          src="/assets/at-work.png"
          alt="Sergio Betancur Chaves at work"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I am an electronic engineer with a passion for technology and web
            development. My education has given me a solid foundation in
            problem-solving, logical thinking, and analytical skills, which I
            apply in my professional life.
          </p>
          <p>
            I focus on creating innovative and functional web solutions that not
            only meet the needs of the user, but also offer an exceptional
            experience. My experience includes developing web applications with
            technologies such as Angular and Tailwind, with a desire to continue
            learning new technologies that can offer cutting-edge solutions.
          </p>
          <p>
            I am committed to teamwork, which can be used to carry out the most
            ambitious projects through agile methodologies. My goal is to
            combine my technical training with my passion for design and
            usability to drive successful web projects
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>Universidad Nacional de Colombia, Bogotá D.C, Colombia.</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <div class="skills-grid">
            <h2 class="section-skills-title">Top Ones</h2>
            <div class="content">
              <ul class="skills-list">
                <li id="nextjs">Nextjs</li>
                <li id="typescript">typescript</li>
                <li id="html">html</li>
                <li id="css">css</li>
                <li id="tailwind">Tailwind</li>
              </ul>
            </div>
            <h2 class="section-skills-title">Confortable with</h2>
            <div class="content">
              <ul class="skills-list">
                <li id="angular">Angular</li>
                <li id="sql">SQL</li>
              </ul>
            </div>
            <h2 class="section-skills-title">Have some expirience</h2>
            <div class="content">
              <ul class="skills-list">
                <li id="spring">Spring boot</li>
                <li id="java">Java</li>
                <li id="aws">AWS</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>

    <div class="warning">
      <div>
        <Icon icon="info" color="var(--accent-regular)" size="3rem" />
      </div>
      <div class="warning-text">
        <p>
          If you are a company seeking a developer, please consider that my
          expertise in various technologies is detailed both above and in my CV.
        </p>
        <p>
          Development is an ongoing learning process at any stage of one's
          career, and I am always open to mastering new technologies. While I am
          excited to learn, I kindly request that, if you urgently require a
          tool not listed above, a senior or highly experienced developer in a
          technology specified on 'Have some experience' section, lets consider
          this before initiating a selection process. This ensures an efficient
          use of our time and resources. Thank you for understanding.
        </p>
      </div>
    </div>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .skills-list {
    list-style-type: none;
    margin: 0 2rem;
    padding: 0;
  }

  .skills-list li::before {
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
  }

  .skills-list #angular::before {
    background-image: url("/assets/angular_logo.png");
  }

  .skills-list #typescript::before {
    background-image: url("/assets/typescript_logo.png");
  }

  .skills-list #nextjs::before {
    background-image: url("/assets/next-logo.png");
  }

  .skills-list #html::before {
    background-image: url("/assets/html_logo.png");
  }

  .skills-list #css::before {
    background-image: url("/assets/css_logo.png");
  }

  .skills-list #tailwind::before {
    background-image: url("/assets/Tailwind-Logo.svg");
  }

  .skills-list #spring::before {
    background-image: url("/assets/spring-logo.png");
  }

  .skills-list #java::before {
    background-image: url("/assets/java-logo.png");
  }

  .skills-list #sql::before {
    background-image: url("/assets/sql-logo.png");
  }

  .skills-list #aws::before {
    background-image: url("/assets/aws-logo.png");
  }

  .at-work {
    object-fit: cover;
    object-position: top;
    height: 400px;
  }

  .warning {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    border: 1px solid var(--accent-regular);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .warning > div {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .section-skills-title {
    font-size: var(--text-lg);
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }

    .warning {
      flex-direction: row;
      gap: 3rem;
      width: 70%;
    }

    p {
      font-size: var(--text-lg);
    }

    .section-skills-title {
      grid-column-start: 1;
      font-size: var(--text-lg);
      color: var(--gray-0);
    }

    .skills-grid {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
      gap: 2rem;
    }

    .skills-list {
      margin: 0;
    }
  }
</style>
